{% extends "::base.html.twig" %} 

{% block title %}MRGeomatics - Bienvenido{% endblock %}

{% block body %}
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<h1> Bienvenido a MRGeomatics</h1>
		<p>Las soluciones cartográficas de MoRe Solutions.<br>
		 Te invitamos a descubrir lo que podemos hacer por tu negocio.</p>
	</div>
</div>
{% endblock %}