{% extends "::base.html.twig" %} 

{% block title %}MRGeomatics - Empresa{% endblock %}

{% block body %}
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<h1>MRGeomatics</h1>
		<p>Te invitamos a descubrir lo que podemos hacer por tu negocio.</p>
		<ul>
			<li>Planos, mapas y cartografía.</li>
				<ul><li>Edición y maquetación</li>
					<li>Impresión de proyectos.</li>
					<li>Cartografía y visores online.</li>
					<li>Consultoría y asesoramiento</li>
				</ul>
			<li>Páginas web.</li>
				<ul><li>Páginas web para negocios.</li>
					<li>Páginas web personales.</li>
					<li>Páginas web para comunidades.</li>
					<li>Adaptada a tus necesidades.</li>
				</ul>
			<li>Aplicaciones basadas en Android</li>
				<ul><li>Apps a medida.</li>
					<li>Posicionamiento móvil.</li>					
				</ul>
			<li>Bases de datos.</li>
				<ul><li>Recopilación de información.</li>
					<li>Recopilación de información con periodicidad.</li>
					<li>Generación de tablas de datos.</li>
				</ul>
			<li>Tasaciones</li>
				<ul><li>Metodología según B.O.E.</li>
					<li>Alto grado de objetividad.</li>
					<li>Valoración de inmuebles o medios de transporte.</li>
				</ul>
			<li>Certificados de eficiencia energética.</li>
				<ul><li>Realización de certificados energéticos para viviendas.</li>
					<li>Realizado con el software oficial del Estado.</li> 
					<li>Propuestas de mejora.</li>
					<li>Registro de certificados.</li>
				</ul>
		</ul>
	</div>
	<div class="col-xs-12">
	<h4><i>Nota:</i></h4>
	<p><i>MRGeomatics simpatiza con las herramientas informáticas de código abierto, conocidas 
	también como "open source software".<br>
	Se intenta utilizarlas en nuestros trabajos, pues son ampliamente configurables y 
	permiten ajustarse a las múltiples necesidades de los proyectos.<br>
	Un ejemplo claro sería esta página web, construida en su totalidad mediante el uso de
	"open source software", esta flexibilidad lo que permite dar soluciones a sencillos retos.</i></p>
	</div>
</div>
{% endblock %}