{% extends "::base.html.twig" %} 
{% block body %}
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<h1>MRGeomatics</h1>
		<p>Posiciona tu negocio con MRGeomatics <i class="fa fa-search-plus"></i><br>
		<ul>
			<li>Soluciones basadas en sistemas de información geográfica SIG.</li>
			<li>Elaboración de mapas planos, tanto impresos como para servicio web.</li>
			<li>Desarrollo de páginas web.</li>
			<li>Aplicaciones Android</li>
			<li>Elaboración de certificados energéticos para la vivienda.</li>
			<li>Tasación de bienes.<i>(Sistema de tasación según BOE)</i></li>
		</ul> 
		Hay que corregir los acentos y símbolos españoles.</p>
	</div>
</div>
{% endblock %}