<!DOCTYPE html>
<head></head>
<body>
	<div class="jumbotron">
		<h1>El mensaje se ha enviado satisfactóriamente.</h1>
		<p>Datos enviados</p>
		<b>Nombre:</b> {{ nombre }}<br>
		<b>E-mail:</b> {{ email }}<br><br>
		<b>Mensaje:</b> {{ message }}<br><br>
		<a href="{{ path('mrg_principal') }}">Volver</a>
	</div>
</body>
</html>